################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Imoby.Api/obj
/.vs/Imoby
/Imoby.Domain/obj
/Imoby.Entities/obj
/Imoby.Infra/obj
/.vs/ProjectEvaluation
/Imoby.Domain/bin/Debug/net7.0
/Imoby.Entities/bin/Debug/net7.0
/Imoby.Infra/bin/Debug/net7.0
/Imoby.Api/bin/Debug/net7.0/Imoby.Api.dll
/Imoby.Api/bin/Debug/net7.0/Imoby.Api.pdb
/Imoby.Api/bin/Debug/net7.0/Imoby.Domain.dll
/Imoby.Api/bin/Debug/net7.0/Imoby.Domain.pdb
/Imoby.Api/bin/Debug/net7.0/Imoby.Entities.dll
/Imoby.Api/bin/Debug/net7.0/Imoby.Entities.pdb
/Imoby.Api/bin/Debug/net7.0/Imoby.Infra.dll
/Imoby.Api/bin/Debug/net7.0/Imoby.Infra.pdb
